html, body{
    height: 100%;
    background-color: #060606;
}

h2{
    color: #Ffffff;
}

hr{
    border-color: #Ffffff;
}

.btn-outline-dark{
    background-color: #eeeeee;
    color: #333333;
}

.card-body{
    background-color: #282828;
    color: #Ffffff;
}

body.login div{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.btn-wine{
    background-color: #940E0F;
    color: white;
    border: 1px solid #940E0F;
}

.btn-wine:hover{
    background-color: #62090A;
    color: white;
}